.navbar-static-top .container, .navbar-fixed-top .container, .container {
  width: 1170px; }

#main-container {
  padding-top: 80px; }

#search-panel {
  width: 180px;
  position: fixed;
  top: 80px;
  z-index: 1030; }
  #search-panel .input-kid {
    width: 166px; }
  #search-panel .input-date {
    width: 126px; }
  #search-panel #search-btn {
    margin-top: 20px;
    width: 180px; }

.konogram-artwork {
  width: 300px; }

.table td {
  padding: 12px;
  vertical-align: middle; }

.portrait {
  width: 100px; }

.thumbnails > li {
  margin: 0; }

.thumbnail.is-promoting {
  border: 1px solid #d44413; }
