$navbar_height: 40px

/* Widen container width, default is 940px. */
.navbar-static-top .container,
.navbar-fixed-top .container,
.container
    width: 1170px

#main-container
    padding-top: $navbar_height + 40px

#search-panel
    width: 180px
    position: fixed
    top: $navbar_height + 40px
    z-index: 1030

    .input-kid
        width: 166px

    .input-date
        width: 126px

    #search-btn
        margin-top: 20px
        width: 180px

#konogram-container
    padding-bottom: 80px

    /* Default is align to top. */
    .table
        td
            vertical-align: middle

    .artwork-column
        width: 310px

        .thumbnails
            margin-top: 10px
            width: 310px

            .thumbnail
                position: relative

                .ribbon
                    position: absolute
                    top: -2px
                    right: -2px

        .konogram-artwork
            width: 300px

    .author-column
        min-width: 110px

        .portrait
            width: 100px

        .thumbnails > li
            margin: 0
