<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Konogram</title>
<meta name="description" content="konogram viewer">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/united/bootstrap.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.1.3/css/bootstrap-datepicker.css" rel="stylesheet">
<link href="styles/main.css" rel="stylesheet">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<body ng-app="konogram">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="navbar navbar-fixed-top" ng-controller="NavbarController">
        <div class="navbar-inner">
            <div class="container">
                <span class="brand">Konogram</span>
                <ul class="nav">
                    <li ng-class="{active: (getEnv() == 'development')}"><a ng-click="setEnv('development')">development</a></li>
                    <li ng-class="{active: (getEnv() == 'production')}"><a ng-click="setEnv('production')">production</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main-container" class="container">
        <div id="search-panel" class="span1 well" ng-controller="SearchController">
            <label>kid</label>
            <input style="width: 166px;" type="text" ng-model="kid" pattern="\d*" placeholder="Find someone's konogram"/>

            <label>Since</label>
            <div class="input-append">
                <input class="span2" type="text" ng-model="dateSince" data-date-format="yyyy-mm-dd" bs-datepicker>
                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
            </div>

            <label>Until</label>
            <div class="input-append">
                <input class="span2" type="text" ng-model="dateUntil" data-date-format="yyyy-mm-dd" bs-datepicker>
                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
            </div>

            <label class="checkbox">
                <input type="checkbox" ng-model="chronological"> Chronological
            </label>
            <hr>
            <button class="btn btn-primary" ng-click="clear(); queryKonograms()" ng-class="{disabled: waitingResponse}">Search</button>
        </div>

        <div id="konogram-container" class="span1">
            <table class="table" ng-controller="ExhibitionController">
                <thead>
                    <tr>
                        <td>konogram id</td>
                        <td>artwork</td>
                        <td>author</td>
                        <td>article</td>
                        <td>quote &amp; note</td>
                        <td>created at</td>
                        <td>promotion duration</td>
                    </tr>
                </thead>
                <tbody infinite-scroll="loadMore()">
                    <tr ng-repeat="konogram in konograms">
                        <td>{{konogram.id}}</td>
                        <td><img ng-src="{{konogram.roles.konogram.artwork.small}}" class="img-polaroid"></td>
                        <td>
                            <div class="media">
                                <img class="media-object pull-left" data-src="{{konogram.roles.author.picture}}">
                                <div class="media-body">
                                    <h4 class="media-heading">{{konogram.roles.author.kid}}</h4>
                                    {{konogram.roles.author.name}}
                                </div>
                            </div>
                        </td>
                        <td>{{konogram.roles.article.title}}</td>
                        <td>
                            {{konogram.roles.konogram.quote}}<br>
                            {{konogram.roles.konogram.note}}
                        </td>
                        <td>{{konogram.created_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{konogram.roles.konogram.promotion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="container"></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.1.3/js/bootstrap-datepicker.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"></script>
    <script src="scripts/lib/ng-infinite-scroll.min.js"></script>
    <script src="scripts/controllers/NavbarController.js"></script>
    <script src="scripts/controllers/SearchController.js"></script>
    <script src="scripts/controllers/ExhibitionController.js"></script>
    <script>
        angular.module('konogram', ['$strap.directives', 'infinite-scroll']);
    </script>
</body>
</html>